<div class= "center jumbotron">
  <h1>ALPHA BLOG</h1>
  <%= link_to 'Sign up now', signup_path, class: "btn btn-primary btn-lg btn-xlarge" %>
</div>
<section id="welcome">
  <marquee scrolldelay="5"> Hi There! Welcome to JoelPost App. If you wish to login as an admin, use email as "johndoe@example.com" and password as "password" to see all features of the app</marquee>
</section>

