$navbar-default-bg: #2D1152;
/*$navbar-default-bg: #08088A;*/

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  
}

.nav li {
  color: white;
  font-weight: bold;
}

.navbar-nav {
  
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.line_item {
  color: white;
  list-style: none;
  float: right;
}

.center {
  text-align: center;
  color: white;
}

.centerdesc {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  
}

.article-actions {
  border-top: 2px solid #eaeaea;
  padding-top: 8px;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 2px solid #eaeaea;
  padding: 15px 0 15px 0;
}

.listing {
  list-style: none;    
  padding-left: 0;
}

.badge {
  background-color: #CEF6F5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.link_tags{
  color: #089de3;
  font-style: italic;
}

/*
#zero_margin{
  margin-left: 0;
}

/* Comment Styling -- Start 
#comments_wrapper {
  display: none;
  margin: 20px  50px 0 0;
  p {
    margin: 15px;
  }
  li {
    list-style-type: none;
  }
}
/* Comment Styling -- End */

/* styling the input elements 
 
input[type="text"], input[type="email"], input[type="password"], input[type="hidden"], textarea {
  width: 50%;
  border: 1px solid #d6dce0;
  border-radius: .5em;
  font-weight: normal;   
  padding: .5em 1em;
  line-height: 1.75;
}
input[type="text"] {
  height: 35px;
}

textarea {
  min-height: 100px;
}

.input_checkbox input {
  width: auto !important;
}

input[type="submit"] {
  outline: none;
  background: transparent;
  border: 1px solid #d6dce0;
  padding: .5em 1.5em;
  font-size: 1.1em;
  border-radius: 1.5em;
  margin-left: 200px;
  &:hover {
    border: 1px solid #33acb7;
    color: #33acb7;
  }
}
-- end */
.input_checkbox input {
  
  width: auto !important;
}

.article_meta_details {
  border-top: 2px solid #eaeaea;
  margin-top: 15px;
  padding-top: 6px;
}

.jumbotron {
  background-image: asset-url('blog2.png');
  background-size: cover;
  height: 650px;
}

.jumbotron h1 {
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.8em;
  font-weight: bold;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 2px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
  font-size: 1.1em;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
  font-size: 1.1em;
}

.clear{
    clear: both;
}

.links{
  display: inline-block;
  text-decoration: underline;
}

.link_tags{
  color: #089de3;
  font-style: italic;
}

#comments_wrapper{
  display: none;
  margin: 20px  50px 0 0;
  p{
    margin: 15px;
  }
  li{
    list-style-type: none;
  }
}

input[type="text"], input[type="email"], input[type="password"], input[type="hidden"], textarea {
  width: 50%;
  border: 1px solid #d6dce0;
  border-radius: .5em;
  font-weight: normal;   
  padding: .5em 1em;
  line-height: 1.75;
}
input[type="text"] {
  height: 35px;
}

textarea {
  min-height: 100px;
}
