$navbar-default-bg: #08088A;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;

}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
  color: white;
}

.centerdesc {
  text-align: center;
  margin-top: 0;
 
}

.article-actions {
  border-top: 2px solid #eaeaea;
  padding-top: 8px;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 2px solid #eaeaea;
  padding: 15px 0 15px 0;
}

.jumbotron {
  background-image: asset-url('blog2.png');
  background-size: cover;
  height: 650px;
}

.jumbotron h1 {
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.8em;
  font-weight: bold;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 2px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
  font-size: 1.1em;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
  font-size: 1.1em;
}
